@(userForm: Form[db.entity.User])
@import helper._

@main("Login") {
<h1>Login</h1>
<form method="POST" action="@routes.UserController.onLogin()">
    @CSRF.formField
    <div class="row">
        <div class="input-field">
            @inputText(userForm("username"),
            '_showConstraints->false,
            '_label -> Nil,
            'placeholder -> "Username",
            'autocomplete->"off",
            'maxlength -> "100")
        </div>
    </div>
    <div class="row">
        <div class="input-field">
            @inputPassword(userForm("password"),
            '_showConstraints->false,
            '_label -> Nil,
            'placeholder -> "Password",
            'autocomplete->"off",
            'maxlength -> "100")
        </div>
    </div>
    <button class="btn grey">Login</button>
</form>
}